<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT blogPage ANY>
<!ATTLIST blogPage id ID #REQUIRED>
<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1063" key="c5f077d8-5dd2-4fb7-8ba3-00e5d0aa33d4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-04-26T13:27:15" updateDate="2018-04-26T13:44:39" nodeName="Welcome" urlName="welcome" path="-1,1063" isDoc="" nodeType="1062" creatorName="Kristian Bendtsen" writerName="Kristian Bendtsen" writerID="0" template="1061" nodeTypeAlias="homePage" isPublished="true">
    <bodyText><![CDATA[<p>Maecenas nec odio et ante tincidunt tempus. Duis vel nibh at velit scelerisque suscipit. Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Vestibulum eu odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci.</p>
<p>In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Fusce pharetra convallis urna. Vivamus laoreet. Nam at tortor in tellus interdum sagittis. Cras dapibus.</p>]]></bodyText>
    <promoTitle><![CDATA[KBweb Agency]]></promoTitle>
    <promoSubTitle><![CDATA[Web Developer / Designer]]></promoSubTitle>
    <blogPage id="1073" key="b24a71ce-ca94-449a-883d-a510e8d5de7c" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2018-04-26T14:04:54" updateDate="2018-04-26T18:34:45" nodeName="Blog" urlName="blog" path="-1,1063,1073" isDoc="" nodeType="1072" creatorName="Kristian Bendtsen" writerName="Kristian Bendtsen" writerID="0" template="1071" nodeTypeAlias="blogPage" isPublished="true">
      <blogTitle><![CDATA[Welcome to KBweb Blog]]></blogTitle>
      <blogItem id="1076" key="8c90b009-270f-4f9f-a8d8-79976f4570fc" parentID="1073" level="3" creatorID="0" sortOrder="0" createDate="2018-04-26T14:18:35" updateDate="2018-04-26T17:20:39" nodeName="Guni hiding" urlName="guni-hiding" path="-1,1063,1073,1076" isDoc="" nodeType="1075" creatorName="Kristian Bendtsen" writerName="Kristian Bendtsen" writerID="0" template="1074" nodeTypeAlias="blogItem" isPublished="true">
        <blogTitle><![CDATA[Guni hiding]]></blogTitle>
        <BlogBodyText><![CDATA[<p style="text-align: left;">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Aenean ut eros et nisl sagittis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.</strong></p>
<p style="text-align: left;"><img style="width: 176px; height: 235px;" src="/media/1005/27783156_10215804918022838_1631952995_n.jpg?width=176&amp;height=235&amp;mode=max" alt="" data-udi="umb://media/afe486b4fb9143bcbb2f8de8a4227015" /></p>
<p style="text-align: left;">Etiam vitae tortor. S<em>uspendisse non nisl sit amet velit hendrerit rutrum. In hac habitasse platea dictumst. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Aliquam erat volutp</em>at.</p>
<p style="text-align: left;">Praesent ac massa at ligula laoreet iaculis. Praesent adipiscing. Mauris sollicitudin fermentum libero. Etiam sit amet orci eget eros faucibus tincidunt. In auctor lobortis lacus.</p>
<p style="text-align: left;">Sed fringilla mauris sit amet nibh. Nam adipiscing. Vivamus elementum semper nisi. Nam commodo suscipit quam. Etiam ut purus mattis mauris sodales aliquam.</p>
<p style="text-align: left;">Proin magna. Vivamus quis mi. Sed hendrerit. Etiam ultricies nisi vel augue. Phasellus viverra nulla ut metus varius laoreet.</p>]]></BlogBodyText>
        <blogImage><![CDATA[{
  "focalPoint": {
    "left": 0.58,
    "top": 0.45555555555555555
  },
  "src": "/media/1001/26940996_10215607136638427_1753790014_n.jpg",
  "crops": [
    {
      "alias": "350x250",
      "width": 350,
      "height": 250,
      "coordinates": {
        "x1": 0.085302111645410114,
        "y1": 0,
        "x2": 0,
        "y2": 0.12885915394800968
      }
    },
    {
      "alias": "800x400",
      "width": 800,
      "height": 400,
      "coordinates": {
        "x1": 0,
        "y1": 0.091851851851851851,
        "x2": 0,
        "y2": 0.24148148148148149
      }
    }
  ]
}]]></blogImage>
        <displayDate>2018-04-24T00:00:00</displayDate>
      </blogItem>
      <blogItem id="1077" key="7b39dc11-5fc8-436b-bb65-1359326e5599" parentID="1073" level="3" creatorID="0" sortOrder="1" createDate="2018-04-26T14:21:23" updateDate="2018-04-26T14:47:44" nodeName="Mynte is life" urlName="mynte-is-life" path="-1,1063,1073,1077" isDoc="" nodeType="1075" creatorName="Kristian Bendtsen" writerName="Kristian Bendtsen" writerID="0" template="1074" nodeTypeAlias="blogItem" isPublished="true">
        <blogTitle><![CDATA[Mynte is life]]></blogTitle>
        <BlogBodyText><![CDATA[<p>Morbi ac felis. Nullam tincidunt adipiscing enim. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Vestibulum eu odio. Vestibulum eu odio.</p>
<p>Pellentesque ut neque. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Sed hendrerit. Quisque id mi. In hac habitasse platea dictumst.</p>
<p>In ac felis quis tortor malesuada pretium. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Phasellus a est. Sed cursus turpis vitae tortor. Etiam iaculis nunc ac metus.</p>
<p>Quisque malesuada placerat nisl. Cras varius. Praesent vestibulum dapibus nibh. Vivamus laoreet. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus.</p>
<p>Praesent blandit laoreet nibh. Suspendisse feugiat. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Aliquam lobortis. Duis lobortis massa imperdiet quam.</p>]]></BlogBodyText>
        <blogImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1002/27939637_10215838278656833_1133902972_n-1.png",
  "crops": [
    {
      "alias": "350x250",
      "width": 350,
      "height": 250,
      "coordinates": {
        "x1": 0,
        "y1": 0.09076785714285715,
        "x2": 0,
        "y2": 0.32738690476190474
      }
    }
  ]
}]]></blogImage>
        <displayDate>2018-04-16T00:00:00</displayDate>
      </blogItem>
      <blogItem id="1078" key="71138bd1-90b0-4f32-b3e3-f7afcc166665" parentID="1073" level="3" creatorID="0" sortOrder="2" createDate="2018-04-26T14:21:44" updateDate="2018-04-26T14:47:28" nodeName="Kashmir" urlName="kashmir" path="-1,1063,1073,1078" isDoc="" nodeType="1075" creatorName="Kristian Bendtsen" writerName="Kristian Bendtsen" writerID="0" template="1074" nodeTypeAlias="blogItem" isPublished="true">
        <blogTitle><![CDATA[Kashmir the king]]></blogTitle>
        <BlogBodyText><![CDATA[<p>Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Suspendisse non nisl sit amet velit hendrerit rutrum. Maecenas vestibulum mollis diam. Nunc nec neque. Maecenas vestibulum mollis diam.</p>
<p>Suspendisse nisl elit, rhoncus eget, elementum ac, condimentum eget, diam. Nunc nec neque. Suspendisse potenti. Nullam cursus lacinia erat. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl.</p>
<p>Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Phasellus consectetuer vestibulum elit. Etiam ultricies nisi vel augue. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus.</p>
<p>Phasellus tempus. Proin magna. Cras id dui. Pellentesque posuere. Duis lobortis massa imperdiet quam.</p>
<p>Aenean massa. In ac felis quis tortor malesuada pretium. Aenean ut eros et nisl sagittis vestibulum. Fusce ac felis sit amet ligula pharetra condimentum. In hac habitasse platea dictumst.</p>]]></BlogBodyText>
        <blogImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1003/27459911_1792848197393006_1476969008750325707_n.jpg",
  "crops": [
    {
      "alias": "350x250",
      "width": 350,
      "height": 250,
      "coordinates": {
        "x1": 0,
        "y1": 0.045761954416803224,
        "x2": 0,
        "y2": 0.23920750782064643
      }
    }
  ]
}]]></blogImage>
        <displayDate>2018-04-26T00:00:00</displayDate>
      </blogItem>
      <blogItem id="1079" key="60637137-a23e-438e-b7e8-d148ab76e282" parentID="1073" level="3" creatorID="0" sortOrder="3" createDate="2018-04-26T15:19:18" updateDate="2018-04-26T15:19:18" nodeName="BEEEEEEEEEUATYFII" urlName="beeeeeeeeeuatyfii" path="-1,1063,1073,1079" isDoc="" nodeType="1075" creatorName="Kristian Bendtsen" writerName="Kristian Bendtsen" writerID="0" template="1074" nodeTypeAlias="blogItem" isPublished="true">
        <blogTitle><![CDATA[BEEEEEEEEEUATYFII]]></blogTitle>
        <BlogBodyText><![CDATA[<p>Quisque malesuada placerat nisl. Aenean ut eros et nisl sagittis vestibulum. Duis leo. Vestibulum fringilla pede sit amet augue.</p>
<p>Sed lectus. Fusce fermentum. Phasellus nec sem in justo pellentesque facilisis. Vivamus aliquet elit ac nisl.</p>
<p>Donec posuere vulputate arcu. Praesent vestibulum dapibus nibh. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec venenatis vulputate lorem.</p>
<p>Nullam sagittis. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Vestibulum fringilla pede sit amet augue. Fusce vulputate eleifend sapien.</p>]]></BlogBodyText>
        <blogImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1004/27849467_10215838542023417_1537304628_n.jpg",
  "crops": [
    {
      "alias": "350x250",
      "width": 350,
      "height": 250
    }
  ]
}]]></blogImage>
        <displayDate>2018-04-28T00:00:00</displayDate>
      </blogItem>
    </blogPage>
    <textPage id="1070" key="a735a9df-5148-4dfe-b550-885bbd2daf33" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2018-04-26T13:58:45" updateDate="2018-04-26T18:34:46" nodeName="About Us" urlName="about-us" path="-1,1063,1070" isDoc="" nodeType="1069" creatorName="Kristian Bendtsen" writerName="Kristian Bendtsen" writerID="0" template="1068" nodeTypeAlias="textPage" isPublished="true" />
    <contactPage id="1083" key="7b00274e-411a-4968-983d-358ff8c025ad" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2018-04-26T18:32:25" updateDate="2018-04-26T19:18:38" nodeName="Contact" urlName="contact" path="-1,1063,1083" isDoc="" nodeType="1082" creatorName="Kristian Bendtsen" writerName="Kristian Bendtsen" writerID="0" template="1081" nodeTypeAlias="contactPage" isPublished="true">
      <bodyText><![CDATA[<p>Skriv til mig tak :)</p>]]></bodyText>
      <receiverEmail><![CDATA[kristianbendtsen@outlook.dk]]></receiverEmail>
    </contactPage>
  </homePage>
</root>